{% block stylesheets %}   
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
{% block content %}       
 <title>{% block title %}Candidate List{% endblock %}</title> 
 <br>     
 <div class="addlisting" style="margin-left:110px;">      
      <button type="button" class="btn btn-primary">     
      <a href="{{ path('registrationpage')}}" style="color:white;">Add Candidate</a>
      </button> 
 </div> 
<div class="container">   
<h2>All Candidates</h2>    
<div class="row content"> 
  <div class="col-sm-10">   
 <table class="table table-condensed"> 
    <thead> 
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Statusreason</th> 
        <th>createdon</th>
        <th>program</th> 
        <th>Action</th   
      </tr>  
    </thead> 
    <tbody>  
     
    {% for candidate in candidates %}   
        <tr> 
            <td>
                <h5>{{candidate.name}}</h5>   
            </td>
            <td>
                <h5>{{candidate.email}}</h5>   
            </td>
            <td>
                <h5>{{candidate.statusreason}}</h5>   
            </td> 
            <td> 
                <h5>{{candidate.createdon|date("Y/m/d H:i:s")}}</h5>   
            </td>  
            <td>
                <h5>{{candidate.program}}</h5>   
            </td> 
            <td>
                <h5> <a class="btn-link" style="text-decoration: none" href="{{ path('candidateeditpage', {'id': candidate.id }) }}">Edit</a> </h5>      
            </td> 
            <td>
                <h5> <a class="btn-link" style="text-decoration: none" href="{{ path('candidatedeletepage', {'id': candidate.id }) }}">Delete</a>   </h5>   
            </td> 
        </tr>             
        {% endfor %}
            </tbody> 
    </table> 
    </tbody>      
 </table>       
  </div> 
         
 </div>   
</div>           
  <br> 
 <div class="addlisting" style="margin-left:110px;">      
      <button type="button" class="btn btn-primary">     
      <a href="{{ path('registrationpage')}}" style="color:white;">Add Candidate</a>
      </button> 
 </div>  
{% endblock %}           